<div class="subframeRight">
    <h1>This is the main explanation</h1>
</div>


{{!-- 
What are my fields:
Main explanation - one slide right
small summary - one slide left (profile)

small:
Motivation before Signing the page
Thank you Text above Signature summary
Head of Tables

 --}}