<div class="subframeRight">
    <h1>PROTECT OUR "Sommerzeit"</h1>
    <div>
        <h4>Do you like summer evenings with a cold drink in your hand? 🍹</h4>
        <h4>Do you like sunshine even if it is 10pm?</h4>
        <h4>Does your boss make you work extra hours but you still want to meet your friends in the park afterwards?</h4>
        <h4>Do you want to save the world from eternal darkness?</h4>
    </div>
    <div>
        <p>If you have answered any of these questions with yes, then this is the perfect place for you. With your voice, we can protect our precious Daylight Savings Time ("Sommerzeit") from the <span>evil forces of standardization.</span> </p>
    </div>
    <div class="clocks">
        <div>
            <h2>With DST...</h2>
            <img src="sonne.jpg" alt="">
            
        </div>
        <div>
            <h2>Without DST...</h2>
            <img src="sonne2.jpg" alt="">
            {{!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/End_CEST.svg/1200px-End_CEST.svg.png" alt=""> --}}
        </div>
    </div>
</div>




    