
<div class="subframeRight">
    <div class="callToAction">
        <h2>Sign our Petition to proceed...</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque, atque, accusamus ducimus, ratione optio repellat voluptatibus deleniti provident harum maxime? Fugit labore necessitatibus voluptas sed vel tempore, itaque voluptates!</p>
    </div>
    <form method="post">
        <p>"the following fields are optional - of course"</p>
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
        <input type="text" name="age" placeholder="Your Age">
        <input type="text" name="city" placeholder="City you live in">
        <input type="text" name="url" placeholder="Your Website (start with http...)">
        <button type="submit">Proceed</button>
        <div class="profileMessage {{#if profileError}}error{{/if}}">
            {{profileError}}
        </div>      
    </form>
</div>