
<div class="subframeRight">
    <div class="callToAction">
        <p>Please tell us a bit more about you. </p>
        <p>"the following fields are optional - of course"</p>
    </div>
    <form method="post">
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
        <input type="text" name="age" placeholder="Your Age">
        <input type="text" name="city" placeholder="City you live in">
        <input type="text" name="url" placeholder="Your Website (start with http...)">
        <button type="submit">Proceed</button>
        <div class="profileMessage {{#if profileError}}error{{/if}}">
            {{profileError}}
        </div>      
    </form>
</div>