<div class="subframeLeft">
    <h2>save summer!</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Begin_CEST.svg/1200px-Begin_CEST.svg.png" alt="">
    <h2>drop winter!</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/End_CEST.svg/1200px-End_CEST.svg.png" alt="">
</div>