<div class="subframeLeft">
    <img src="https://www.deutsches-uhrenmuseum.de/fileadmin/_processed_/4/c/csm_Carpendale_02_764bcfd5f7.jpg" alt="">
    <div>
    <p>Even <b>Superstars</b> like Howard Carpendale are a big fan of Daylight Savings Time... He even made a whole album about it! </p>
    <p>You are just a few penstrokes away from joining this very special club!</p>
    </div>
</div>