
<div class="subframeRight">
    <div class="callToAction">
        <p>Please sign </p>
    </div>
    <form method="post" class="signatureForm">
        <h2></h2>
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
        <input id="sigDataURL" name="sigDataURL" type="hidden">
        <div class="signature">
            <canvas id="signature" width="500px" height="80px"></canvas>
            <div class="sigFunctions">
                <div class="sigFunction sigClear">↩︎</div>
                <input type="color" name="color" class="sigFunction sigColor" value="#0000ff">
            </div>
        </div>
        <p>"Save our Sunlight - Become a Daylight Savings Time Saviour!"</p>
        <p>Signee: {{activeUser.first}} {{activeUser.last}}</p>
        <div class="comment">
            {{!-- <p>Please tell us how important sunlight is for your evenings.</p> --}}
            <textarea name="commentInput" cols="61" rows="4" placeholder="Please leave a comment... How important is sunlight for you?"></textarea>
            {{!-- <input type="text" name="comment" placeholder="Do you want to publish a comment?"> --}}
        </div>
        <button type="submit">Submit</button>
        <div class="sigError">{{#if signatureError}}{{signatureError}}{{/if}}</div>
    </form>
</div>

<script>
    var canvas = document.getElementById("signature");
    var ctx = canvas.getContext("2d");
    var clear = document.querySelector(".sigClear");

    clear.addEventListener("click", () => {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        document.getElementById("sigDataURL").value = "";
    });

    canvas.addEventListener("mousedown", (e) => {
        e.preventDefault();
        ctx.strokeStyle = document.querySelector(".sigColor").value;
        ctx.beginPath();
        ctx.moveTo(e.offsetX, e.offsetY);
        canvas.addEventListener("mouseup", (e) => {
            e.preventDefault();
            canvas.removeEventListener("mousemove", draw);
            ctx.closePath();
            document.getElementById("sigDataURL").value = canvas.toDataURL();
        });
        canvas.addEventListener("mousemove", draw);
    });

    function draw(e) {
        ctx.lineTo(e.offsetX, e.offsetY);
        ctx.stroke();
        ctx.moveTo(e.offsetX, e.offsetY);
    }
</script>
