
<div class="subframeRight">
    <div class="callToAction">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab facilis doloribus amet dolorum provident id ipsa quo nihil qui dolores quibusdam, deleniti consequuntur necessitatibus molestiae, accusantium magni tenetur? Fugit, quos?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab facilis doloribus amet dolorum provident id ipsa quo nihil qui dolores quibusdam, deleniti consequuntur necessitatibus molestiae, accusantium magni tenetur? Fugit, quos?</p>
        <div class="pointToSignature">
            <h2>Sign our Petition to proceed...</h2>
        </div>
    </div>
    <form method="post">
        <p>"Save our Sunlight - Pro Daylight Savings Time (DST)!"</p>
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
        <input id="sigDataURL" name="sigDataURL" type="hidden">
        <div class="signature">
            <canvas id="signature" width="500px" height="80px"></canvas>
            <div class="sigFunctions">
                <div class="sigFunction sigClear">↩︎</div>
                <input type="color" name="color" class="sigFunction sigColor" value="#0000ff">
            </div>
        </div>
        <p>{{activeUser.first}} {{activeUser.last}}</p>
        <div class="comment">
            <input type="text" name="comment" placeholder="Do you want to publish a comment?">
        </div>
        <button type="submit">Submit</button>
        <div class="sigError">{{#if signatureError}}{{signatureError}}{{/if}}</div>
    </form>
</div>

<script>
    var canvas = document.getElementById("signature");
    var ctx = canvas.getContext("2d");
    var clear = document.querySelector(".sigClear");

    clear.addEventListener("click", () => {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        document.getElementById("sigDataURL").value = "";
    });

    canvas.addEventListener("mousedown", (e) => {
        e.preventDefault();
        ctx.strokeStyle = document.querySelector(".sigColor").value;
        ctx.beginPath();
        ctx.moveTo(e.offsetX, e.offsetY);
        canvas.addEventListener("mouseup", (e) => {
            e.preventDefault();
            canvas.removeEventListener("mousemove", draw);
            ctx.closePath();
            document.getElementById("sigDataURL").value = canvas.toDataURL();
        });
        canvas.addEventListener("mousemove", draw);
    });

    function draw(e) {
        ctx.lineTo(e.offsetX, e.offsetY);
        ctx.stroke();
        ctx.moveTo(e.offsetX, e.offsetY);
    }
</script>
