<div class="subframeRight">
    <h2>Thank you for signing our petition</h2>
    <div class="sigPic">
        <img class="yourSignature" src="{{activeUser.signature}}" alt="signature">
        <p>your signature will make a change</p>
    </div>
    <div>
        <h2>You are not alone!</h2>
        <h2>Click to see <a href="/participants">all {{count}} supporters</a></h2>
    </div>
</div>

