<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Petition - Project</title>
</head>
<body>
    <header>
        <div class="headline">
            <h1>Become a daylight Savings Saviour</h1> 
        </div>
        {{#if activeUser.id}}<a href="/new"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/OOjs_UI_icon_logOut-rtl.svg" alt="LogOut"></a>{{/if}}
            <div class="ticker">
                <div class="comments"></div>
            </div>
    </header>
    <nav>
            <div class="navRegister">
                <div class="support"><h2>Support our cause</h2></div>
                <div class="reg">Register & LogIn<br>{{#if activeUser.id}}✅{{else}}❌{{/if}}</div>    
                <div class="arrow">→</div>
                <div class="sign">Sign the Petition<br>{{#if activeUser.signature}}✅{{else}}❌{{/if}}</div>    
            </div>
            <div class="arrow">→</div>
            <div class="navView">
                <h2>Summary of your data</h2>
            </div>
            <div class="arrow">→</div>
            <div class="navList">
                <h2>View other Supporters</h2>
            </div>

    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>© Peter Oehmichen, 2021</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>