<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Petition - Project</title>
</head>
<body>
    <nav>
        <div class="intro">
            <h1>Save our sunlight!</h1>
            <h2>Become a Daylight Savings Time Saviour!</h2>
        </div>
        <div class="navStatus">
            <p>{{#if activeUser.id}}✅{{else}}❌{{/if}}  Register </p>
            <p>{{#if activeUser.signature}}✅{{else}}❌{{/if}} Sign the Petition </p>
            <p>{{#if activeUser.comment}}✅{{else}}❌{{/if}}  Leave a Comment</p>
            {{#if activeUser.id}}<div class="logOut">
                <a href="/new"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/OOjs_UI_icon_logOut-rtl.svg" alt="LogOut"></a>
            </div>{{/if}}
        </div>
        <div class="commentBlock">
            <h4>This is what other supporters say about it</h4>
            <div class="carousel">
                <div></div>
            </div>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>© Peter Oehmichen, 2021</footer>
    <script src="/script.js"></script>
</body>
</html>