<h2>Please sign the following form...</h2>
<form method="post">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input name="_csrf" value="{{csrfToken}}" type="hidden">
    <input id="sigDataURL" name="sigDataURL" type="hidden">
    <div class="signature">
        <canvas id="signature" width="400px" height="80px"></canvas>
        <div class="sigFunctions">
            <div class="sigFunction sigClear">↩︎</div>
            <input type="color" name="color" class="sigFunction sigColor" value="#0000ff">
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
<div class="errorMessage">
   {{#if dbError}}{{>dbError}}{{/if}}
   {{#if dataError}}{{>dataError}}{{/if}}
   {{#if cookieError}}{{>cookieError}}{{/if}}
</div>