<h2>Please sign the following form...</h2>
<form method="post">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input id="sigDataURL" name="sigDataURL" type="hidden">
    <canvas id="signature" width="500px" height="100px"></canvas>
    <button type="submit">Submit</button>
</form>