<h2>we display the {{count}} participants here</h2>

<ul>
    {{#part}}
        <li>{{first}} {{last}}
            <input class="storedSig" name="storedSig" type="hidden" value="{{signature}}">
            <canvas class="second" width="200px" height="40px"></canvas>

    {{/part}}
    <script>
        const dataURLs = document.getElementsByClassName("storedSig");
        const canvas = document.getElementsByClassName("second");
        for (var i = 0; i < dataURLs.length; i++) {
            let ctx = canvas[i].getContext("2d");
            let img = new Image;
            img.src = dataURLs[i].value;
            img.onload = function () {
                ctx.drawImage(img, 0, 0, 200, 40);
            }
        }
    </script>
</ul>