<h2>we display the {{count}} participants here</h2>

<ul>
    {{#part}}
        <li>{{first}} {{last}} {{signature}}
            <canvas id="second" width="500px" height="100px"></canvas>

    {{/part}}
</ul>