<h2>Thank you for signing</h2>
<img class="yourSignature" src="{{signature}}" alt="signature">
<p>this is not you? click <a href="/new">here</a> to sign the petition yourself</p>

<p>click along to see <a href="/participants">all {{count}} Participants</a></p>
