* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("./bg2.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 13fr 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 1.2em;
}

p {
    padding-bottom: 5px;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 1.1em;
    margin: 10px 0;
    width: 100%;
}

form {
    padding: 5px;
    width: 100%;
}

button {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px;
}

header {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logPic {
    margin: 10px;
    background: #099bdd;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

nav {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
}

nav > div {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 6px 10px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navStatus {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border-right: 2px solid black; */
}

.logOut {
    position: absolute;
    top: 10px;
    right: 10px;
}

.commentBlock {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.carousel {
    position: relative;
    margin: 0 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.carousel > div {
    position: absolute;
    transform: translateY(100%);
    margin: 0 30px;
    padding: 5px;
    height: 100%;
    text-align: left;
    font-style: italic;
    overflow: hidden;
}

.carousel > div.onscreen {
    transform: translateY(0%);
    transition-property: transform;
    transition-duration: 2s;
}

.carousel > div.exit {
    transform: translateY(-100%);
    transition: transform 2s;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.leftBox {
    margin: auto 20px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.credHead {
    width: 100%;
    height: 10%;
    display: flex;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.registerHeader {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.loginHeader {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.credBody {
    width: 100%;
    height: 80%;
}

.credBody > div {
    padding: 20px;
    flex-direction: column;
}

.register {
    display: flex;
}

.leftBox p {
    font-size: 0.9em;
    padding-bottom: 5px;
}

.login {
    display: flex;
}

.activeCred {
    background-color: rgba(255, 255, 255, 0.75);
}

.registerMessage {
    padding: 5px;
    width: 100%;
    height: 10%;
}

.editMessage {
    padding: 5px;
    width: 100%;
    height: 10%;
}

.error {
    background-color: rgba(255, 255, 255, 0.75);
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.rightBox {
    width: 50%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    overflow: auto;
}

.subframeRight {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.clocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.clocks img {
    width: 50%;
    border-radius: 5px;
}

.subframeLeft {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subframeLeft img {
    width: 50%;
    object-fit: contain;
}

.subframeLeftTop {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.subframeLeftMain {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: auto;
}

.subframeLeftMain input {
    margin: 0;
    width: 100%;
    font-size: 1em;
}

.edit {
    width: 100%;
    text-align: right;
}

.buttons {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profileMessage {
    padding: 5px;
    width: 100%;
    height: 10%;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
}

.callToAction {
    margin-bottom: 30px;
}

.signatureForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signatureForm > p {
    font-style: italic;
    font-size: smaller;
}

.signature {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 500px;
}

canvas {
    border-bottom: 1px dotted black;
    background-color: rgba(0, 0, 0, 0.15);
}

.comment {
    margin: 50px 0;
}

.sigFunctions {
    position: absolute;
    right: 0;
    display: flex;
}

.sigFunction {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1px;
    text-align: center;
    border: 1px dotted black;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 1px;
}

.sigError {
    width: 100%;
    padding: 5px;
    text-align: center;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.sigPic img {
    background-color: rgba(0, 0, 0, 0.05);
    border: 5px solid black;
    border-radius: 10px;
}

.listedParticipants {
    width: 70%;
    margin: 10px;
    padding: 5px;
}

.listedParticipants td {
    border-bottom: 1px dotted black;
    text-align: left;
}

thead {
    font-weight: bold;
}

td {
    padding: 5px 5px 5px 5px;
}

.sigInList {
    width: 150px;
    height: 30px;
}

table {
    width: 100%;
}
