* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    /* background-color: azure; */
    background-image: url("./bg2.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 10% 70% 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
}

h2 {
    font-size: 1.2em;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 1.1em;
    margin: 10px 0;
    width: 90%;
}

form {
    padding: 5px;
    /* border: 1px dotted black; */
}

button {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px;
}

header {
    padding: 10px;
    position: relative;
    /* background-color: #fce38a; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3%;
}

.logPic {
    margin: 10px;
    background: #099bdd;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

nav {
    /* background-color: #fce38a; */
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    display: flex;
    justify-content: stretch;
    border: 1px dotted black;
}

nav > div {
    /* background-color: #eaffd0; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    text-align: center;
    padding: 6px;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navRegister > .arrow {
    font-size: 1em;
}

nav > .arrow {
    width: 4%;
    font-size: 2.3em;
}

.navRegister {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 2fr 1fr;
}

.support {
    grid-column: 1 / 4;
}

main {
    /* background-image: url("./bg2.jpg"); */
    /* background-size: cover; */
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/DST_begin.svg"); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.leftBox {
    margin: auto 20px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.credHead {
    width: 100%;
    height: 10%;
    display: flex;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.registerHeader {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.loginHeader {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.credBody {
    width: 100%;
    height: 80%;
}

.credBody > div {
    padding: 20px;
    flex-direction: column;
}

.register {
    display: flex;
}

.leftBox p {
    font-size: 0.9em;
    padding-bottom: 5px;
}

.login {
    display: flex;
}

.activeCred {
    background-color: rgba(255, 255, 255, 0.75);
}

.registerMessage {
    padding: 5px;
    width: 100%;
    height: 10%;
}

.error {
    background-color: rgba(255, 255, 255, 0.75);
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.rightBox {
    width: 55%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.subframeRight {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subframeLeft {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subframeLeft img {
    width: 50%;
    object-fit: contain;
}

.subframeLeftTop {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.subframeLeftMain {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    /* height: 85%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* overflow:; */
}

.subframeLeftMain input {
    margin: 0;
    width: 100%;
    font-size: 1em;
}

.edit {
    width: 100%;
    text-align: right;
}

.buttons {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profileMessage {
    padding: 5px;
    width: 100%;
    height: 10%;
}

footer {
    background-color: #95e1d3;
}

.signature {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 500px;
}

canvas {
    border-bottom: 1px dotted black;
    background-color: rgba(0, 0, 0, 0.15);
}

.sigFunctions {
    position: absolute;
    right: 0;
    display: flex;
}

.sigFunction {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1px;
    text-align: center;
    border: 1px dotted black;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 1px;
}

.sigError {
    width: 100%;
    padding: 5px;
    text-align: center;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.sigPic img {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px dotted black;
    width: 400px;
    height: 80px;
}

.listedParticipants {
    margin: 10px;
    padding: 5px;
}

thead {
    font-weight: bold;
}

td {
    padding: 5px 20px 5px 5px;
}

.sigInList {
    width: 150px;
    height: 30px;
}
